.Toggle {
    width: 40px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;

    box-sizing: border-box;
    cursor: pointer;
}

.Toggle div {
    width: 90%;
    height: 3px;
    margin: 3px 0;
    background-color: white;
}

@media (min-width: 559px) {
    .Toggle {
        display: none;
    }
}