.Toolbar{
    width:100%;
    height:56px;
    background-color: #404b69;
    position:fixed;
    top:0;
    left:0;
    z-index: 90;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 20px;
    box-sizing: border-box;
}

.Toolbar nav{
    height: 100%;
}

.Logo{
    height: 100%;
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}
@media (min-width: 499px) {
    .mobileOnly {
        display: none;
    }
}