.container{
    
    margin-bottom: 5rem;
}
.ingredient_box{
    margin: 0 8px;
    display: inline-block;
    text-transform: capitalize;
    border: 1px solid #eee;
    padding: 5px;
    margin: 5px 5px;
    background-color: #fff;
}
.ingredient_div{
    text-align: center;
    padding: 30px 0;
}

.ingredient_div_label{
    font-size: 20px;
    color: rgb(159, 158, 158);
}
.preview_burger{
    height: 80%;
}

.burger_name{
    text-align: center;
    color: rgb(203, 192, 192);
}

.burger_price_label{
    color: rgb(203, 192, 192);
    font-weight: 200;
}